/*******************************************************************************
 *                                                                             *
 * Default ally calendar (caspian)                                                                 *
 *                                                                             *
 ******************************************************************************/

.ally-calendar-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    /*-fx-background-radius: 0 6 6 6, 0 5 5 5;*/
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}
.ally-calendar-view > .month-year-pane {
    -fx-padding: 0.5em; /* 6 6 6 6 */
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}
.ally-calendar-view > * > .spinner {
    -fx-spacing: 0.25em;
    -fx-alignment: CENTER;
    -fx-fill-height: false;
}
.ally-calendar-view > * > .spinner > .button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.ally-calendar-view > * > .spinner > .button:hover {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 3, 2, 1;
}
.ally-calendar-view > * > .spinner > .button:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-focus-color, -fx-body-color;
    -fx-background-radius: 3, 2, 1;
}
.ally-calendar-view > * > .spinner > .left-button {
    -fx-padding: 0 0.333333em 0 0.25em; /* 0 4 0 3 */
}
.ally-calendar-view > * > .spinner > .right-button {
    -fx-padding: 0 0.25em 0 0.333333em; /* 0 3 0 4 */
}
.ally-calendar-view > * > .spinner > .button > .right-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0 0; /* 6 4 0 0 */
    -fx-shape: "M 4 0 L 0 -3 L 0 3 z";
    -fx-scale-shape: true;
}
.ally-calendar-view > * > .spinner > .button > .left-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0 0; /* 6 4 0 0 */
    -fx-shape: "M 0 0 L 4 -3 L 4 3 z";
    -fx-scale-shape: true;
}
.ally-calendar-view > * > .spinner > .label {
    -fx-alignment: CENTER;
}
.ally-calendar-view > .month-year-pane > .secondary-label {
    -fx-alignment: BASELINE_CENTER;
    -fx-padding: 0.5em 0 0 0; /* 6 0 0 0 */
    -fx-text-fill: firebrick;
}
.ally-calendar-view > .calendar-grid {
    -fx-background-color: derive(-fx-base, 6.8%);
    -fx-background-insets: 1;
    -fx-padding: 1;
}
.ally-calendar-view > * > .date-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 1, 2;
    -fx-padding: 0.166667em;
    -fx-alignment: BASELINE_CENTER;
    -fx-opacity: 1.0;
}
.date-cell:disabled > * {
    -fx-opacity: -fx-disabled-opacity;
}
.ally-calendar-view > * > .day-name-cell,
.ally-calendar-view > * > .week-number-cell {
    -fx-font-size: 0.916667em;
}
.ally-calendar-view > * > .week-number-cell {
    /* Add one pixel to the top padding to
     * compensate for the smaller font size. */
    -fx-padding: 0.416667em 0.583333em 0.333333em 0.583333em; /* 5 7 4 7 */
    -fx-border-color: -fx-background;
    -fx-border-width: 1px;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-accent;
}
.ally-calendar-view > * > .day-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: derive(-fx-control-inner-background,-10%);
    -fx-border-width: 1px;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-text-background-color;
}
.ally-calendar-view > * > .hijrah-day-cell {
    -fx-alignment: TOP_LEFT;
    -fx-padding: 0.083333em 0.333333em 0.083333em 0.333333em; /* 1 4 1 4 */
    -fx-cell-size: 2.75em;
}
.ally-calendar-view > * > .day-cell > .secondary-text {
    -fx-fill: firebrick;
}
.ally-calendar-view > * > .today {
    -fx-background-color: -fx-control-inner-background, derive(-fx-base, -10%), -fx-control-inner-background;
    -fx-background-insets: 1, 2, 3;
}
.ally-calendar-view > * > .day-cell:hover,
.ally-calendar-view > * > .selected,
.ally-calendar-view > * > .previous-month.selected,
.ally-calendar-view > * > .next-month.selected {
    -fx-background-color: -fx-selection-bar;
    -fx-background: -fx-accent;
}
.ally-calendar-view > * > .today:hover,
.ally-calendar-view > * > .today.selected {
    -fx-background-color: -fx-selection-bar, derive(-fx-base, -10%),-fx-selection-bar;
}
.ally-calendar-view > * > .day-cell:focused,
.ally-calendar-view > * > .today:focused {
    -fx-background-color: -fx-control-inner-background, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 1, 2, 3;
}
.ally-calendar-view > * > .day-cell:focused:hover,
.ally-calendar-view > * > .today:focused:hover,
.ally-calendar-view > * > .today.selected:focused,
.ally-calendar-view > * > .selected:focused {
    -fx-background-color: -fx-selection-bar, -fx-cell-focus-inner-border, -fx-selection-bar;
}
.ally-calendar-view > * > .previous-month,
.ally-calendar-view > * > .next-month {
    -fx-background: derive(-fx-control-inner-background,-5%);
}
.ally-calendar-view > * > .previous-month:hover,
.ally-calendar-view > * > .next-month:hover {
    -fx-background: lightgrey;
    -fx-text-fill: -fx-dark-text-color;
}
.ally-calendar-view > * > .day-cell:hover > .secondary-text,
.ally-calendar-view > * > .previous-month > .secondary-text,
.ally-calendar-view > * > .next-month > .secondary-text,
.ally-calendar-view > * > .selected > .secondary-text {
    -fx-fill: -fx-text-background-color;
}
.ally-calendar-view > * > .previous-month.today,
.ally-calendar-view > * > .next-month.today {
    -fx-background-color: derive(-fx-control-inner-background,-5%), derive(-fx-base, -10%), derive(-fx-control-inner-background,-5%);
}
.ally-calendar-view > * > .previous-month.today:hover,
.ally-calendar-view > * > .next-month.today:hover {
    -fx-background-color: lightgrey, derive(-fx-base, -10%), lightgrey;
}
