/*******************************************************************************
 *                                                                             *
 * Ally date time calendar                                                                 *
 *                                                                             *
 ******************************************************************************/

.ally-designcalendar-view {
    -fx-background-color:
            linear-gradient(to bottom,
            derive(-fx-color,-17%),
            derive(-fx-color,-30%)
            ),
            -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */
    -fx-padding: 0.083333em; /* 1 1 1 1 */
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );*/
}
.ally-designcalendar-view > * > .day-month-year-pane {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 */
    -fx-background-color: derive(-fx-box-border,30%), linear-gradient(to bottom, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}
.ally-designcalendar-view > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent;
}
.ally-designcalendar-view > * > .spinner > .button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-color: transparent;
    -fx-background-radius: 0;
}
.ally-designcalendar-view > * > .spinner > .button:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-color: -fx-hover-base;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
}
.ally-designcalendar-view > * > .spinner > .button:hover {
    -fx-color: -fx-hover-base;
}
.ally-designcalendar-view > * > .spinner > .button:armed {
    -fx-color: -fx-pressed-base;
}
.ally-designcalendar-view > * > .spinner > .left-button {
    -fx-padding: 0 0.333333em 0 0.25em; /* 0 4 0 3 */
}
.ally-designcalendar-view > * > .spinner > .right-button {
    -fx-padding: 0 0.25em 0 0.333333em; /* 0 3 0 4 */
}
.ally-designcalendar-view > * > .spinner > .button > .left-arrow,
.ally-designcalendar-view > * > .spinner > .button > .right-arrow {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-base,-45%);
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em; /* 4 2 4 2 */
    -fx-effect: dropshadow(two-pass-box , -fx-shadow-highlight-color, 1, 0.0 , 0, 1.4);
}
.ally-designcalendar-view > * > .spinner > .button:hover > .left-arrow,
.ally-designcalendar-view > * > .spinner > .button:hover > .right-arrow {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-base,-50%);
}
.ally-designcalendar-view > * > .spinner > .button:pressed > .left-arrow,
.ally-designcalendar-view > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-base,-55%);
}
.ally-designcalendar-view > * > .spinner > .button > .left-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-scale-shape: true;
}
.ally-designcalendar-view > * > .spinner > .button > .right-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
}
.ally-designcalendar-view > * > .spinner > .label {
    -fx-alignment: CENTER;
}
.ally-designcalendar-view > * > .day-month-year-pane > .secondary-label {
    -fx-alignment: BASELINE_CENTER;
    -fx-padding: 0.5em 0 0 0; /* 6 0 0 0 */
    -fx-text-fill: #f3622d;
}

.ally-designcalendar-view > * > .calendar-grid {
    -fx-background-color: derive(-fx-selection-bar-non-focused, 60%);
    /*-fx-background-insets: 1 0 0 0;*/
    -fx-padding: 0;
}
.ally-designcalendar-view > * > .date-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 1, 2;
    -fx-padding: 0;
    -fx-alignment: BASELINE_CENTER;
    -fx-opacity: 1.0;
}
.ally-designcalendar-view > * > .day-name-cell,
.ally-designcalendar-view > * > .week-number-cell {
    -fx-font-size: 0.916667em;
}
.ally-designcalendar-view > * > .week-number-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: -fx-control-inner-background;
    -fx-border-width: 1px;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-accent;
}
.ally-designcalendar-view > * > .day-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: derive(-fx-selection-bar-non-focused, 60%);
    -fx-border-width: 1px;
    -fx-font-size: 1em;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-text-background-color;
}
.ally-designcalendar-view > * > .hijrah-day-cell {
    -fx-alignment: TOP_LEFT;
    -fx-padding: 0.083333em 0.333333em 0.083333em 0.333333em; /* 1 4 1 4 */
    -fx-cell-size: 2.75em;
}
.ally-designcalendar-view > * > .day-cell > .secondary-text {
    -fx-fill: #f3622d;
}
.ally-designcalendar-view > * > .today {
    -fx-background-color: -fx-control-inner-background, derive(-fx-selection-bar-non-focused, -20%), -fx-control-inner-background;
    -fx-background-insets: 1, 2, 3;
}
.ally-designcalendar-view > * > .day-cell:hover,
.ally-designcalendar-view > * > .selected,
.ally-designcalendar-view > * > .previous-month.selected,
.ally-designcalendar-view > * > .next-month.selected {
    -fx-background: -fx-selection-bar;
}
.ally-designcalendar-view > * > .previous-month:hover,
.ally-designcalendar-view > * > .next-month:hover {
    -fx-background: -fx-selection-bar-non-focused;
}
.ally-designcalendar-view > * > .today:hover,
.ally-designcalendar-view > * > .today.selected {
    -fx-background-color: -fx-selection-bar, derive(-fx-selection-bar-non-focused, -20%),-fx-selection-bar;
}
.ally-designcalendar-view > * > .day-cell:focused,
.ally-designcalendar-view > * > .today:focused {
    -fx-background-color: -fx-control-inner-background, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 1, 2, 3;
}
.ally-designcalendar-view > * > .day-cell:focused:hover,
.ally-designcalendar-view > * > .today:focused:hover,
.ally-designcalendar-view > * > .selected:focused,
.ally-designcalendar-view > * > .today.selected:focused {
    -fx-background-color: -fx-selection-bar, -fx-cell-focus-inner-border, -fx-selection-bar;
}
.ally-designcalendar-view > * > .previous-month,
.ally-designcalendar-view > * > .next-month {
    -fx-background: derive(-fx-control-inner-background, -4%);
}
.ally-designcalendar-view > * > .day-cell:hover > .secondary-text,
.ally-designcalendar-view > * > .previous-month > .secondary-text,
.ally-designcalendar-view > * > .next-month > .secondary-text,
.ally-designcalendar-view > * > .selected > .secondary-text {
    -fx-fill: -fx-text-background-color;
}
.ally-designcalendar-view > * > .previous-month.today,
.ally-designcalendar-view > * > .next-month.today {
    -fx-background-color: derive(-fx-control-inner-background, -4%), derive(-fx-selection-bar-non-focused, -20%), derive(-fx-control-inner-background, -4%);
}

.ally-designcalendar-view > * > .previous-month.today:hover,
.ally-designcalendar-view > * > .next-month.today:hover {
    -fx-background-color: -fx-selection-bar-non-focused, derive(-fx-selection-bar-non-focused, -20%), -fx-selection-bar-non-focused;
}
